<h1 class="display-6 text-primary mt-5 mb-3">Create Movie</h1>
<div class="row p-5 border rounded">
  <div class="col-12">
    <div class="alert alert-danger d-flex align-items-center" *ngIf="movieForm.status == 'INVALID'">
      <p>Complete the form to enable button.</p>
    </div>
  </div>
  <p class="mb-3">movieForm Status: {{ movieForm.status }}</p>
  <p class="mb-3">movieForm Value: {{ movieForm.value | json }}</p>
  <div class="col-6">
      <form [formGroup]="movieForm">
      <div class="row mb-2">
        <div class="col-lg-3 col-md-5 d-flex align-items-center">
          <label class="fw-semibold">Title : </label>
        </div>
        <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="title" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Director : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="director" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Release Date : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="date" class="form-control" formControlName="releaseDate" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Rating : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="rating" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Budget : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="budget" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Language : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="language" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-5 d-flex align-items-center">
        <label class="fw-semibold">Country : </label>
      </div>
      <div class="col-lg-9 col-md-7">
        <input type="text" class="form-control" formControlName="country" />
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex align-items-center">
        <button
        class="btn btn-primary btn-md my-5"
        (click)="createMovie()"
        [disabled]="!movieForm.valid"
        >
        Create
      </button>
    </div>
  </div>
</form>
</div>
<div class="offset-2 col-4">
  <p class="text-primary display-6 fs-4 fw-medium mb-3">Select a Genre</p>
  <form [formGroup]="genreForm">
      <div
        class="form-check mb-2"
        *ngFor="let genre of genres$ | async as genres"
      >
        <input
          class="form-check-input"
          type="radio"
          value="{{ genre.id }}"
          formControlName="{{ genre.name | lowercase }}"
        />
        <label class="form-check-label">
          {{ genre.name }}
        </label>
      </div>
    </form>
  </div>
</div>
<div *ngIf="addedMovies$ | async"></div>
