<div class="card m-4" >
  <div class="card-body">
    <h5 class="card-title">{{movie.title}} Movie Details (id: {{movie.id}})</h5>
    <p class="card-text"><span class="fw-semibold">Release Date: </span>{{movie.releaseDate}}</p>
    <p class="card-text"><span class="fw-semibold">Director: </span>{{movie.director}}</p>
    <p class="card-text"><span class="fw-semibold">Genre: </span>{{movie.genreId}}</p>
    <p class="card-text"><span class="fw-semibold">Rating: </span>{{movie.rating}}</p>
    <p class="card-text"><span class="fw-semibold">Language: </span>{{movie.language}}</p>
  </div>
</div>
